* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

.container {
  width: 400px;
  margin: 200px auto;
}

.card {
  background: #4379f2;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 60px 50px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.card h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
}

.card p {
  font-size: 15px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.card input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  border: none;
  background: #fff;
}

.card button {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  background: linear-gradient(
    90deg,
    rgba(255, 205, 0, 1) 17%,
    rgba(252, 173, 69, 1) 56%
  );
  color: #fff;
  border: none;
  cursor: pointer;
}

.card button:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 205, 0, 1) 17%,
    rgba(242, 173, 69, 1) 56%
  );
}
